html {
	font-size: 16px;
}

/* remove mobile elements */
.mobile {
	display: none;
}

/* common elements styling */

h2 {
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.2rem;
	font-weight: bold;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	padding: 0 1.5rem;
	align-items: center;
}

header .logo {
	display: flex;
	height: 2rem;
	align-items: center;

}

.logo img {
	height: 2.5rem;
}

.logo span {
	font-size: 1.5rem;
}

header ul {
	display: flex;
}

header li {
	font-size: 1.2rem;
	border-right: 1rem solid rgb(131, 218, 216);
	padding: 1.4rem 0;
}
 header li:last-child {
 	border-right: 0px;
 }

 /* main content */

.content {
	border-bottom: 1px solid rgb(207, 207, 207);
}

 /* content containers */

  .container {
 	display: flex;
 }

 .left-container {
 	width: calc(60% - 3rem);
 	 padding: 2rem 1.5rem;
 }

.right-container {
	width: 40%;
	display: flex;
	flex-direction: column;		
	padding: 2rem 0 2rem 0;
}

 .container:nth-child(odd) {
 	background-color: rgb(207, 207, 207);
 }

 .left-container img {
 	width: 100%;
 }

/* content items */

.right-item {
	display: flex;
}

 .img-wrapper-small {
	width: 35%;
	padding: 1rem;
}

.right-item img {
	max-width: 100%;
	height: auto;
}

.right-item:nth-child(2n +1) {
	background-color: rgb(207, 207, 207);
}

.right-item-content {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 1.5rem;
}

.right-item-content h3 {
	font-weight: bold;
margin-bottom: 0.5rem;
}

.right-item-content p {
	margin-bottom: 0.5rem;
}

.right-item-content a {
	color: rgb(49,123,219);
}

/* banner */

#banner .right-container {
	width: 30%;
	justify-content: center;
	margin-right: 1.5rem;
}

#banner h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

#banner h3 {
	font-weight: normal;
}

#banner span {
	background-color: rgb(57,57,57);
	font-size: 1.2rem;
	color: white;
	padding: 0.5rem 0;
	text-align: center;
	margin-top: 1.5rem;
}

/* information-section */

#information .left-container {
	position: relative;	
}

#information h2 {
	margin: 2rem 0 1.5rem 0;
}

.quote-person {
	position: absolute;
	bottom: 2rem;
}


#information .right-item:last-child {
	background-color: rgb(207, 207, 207);
}



/* courses */

#courses {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#courses h2 {
	margin-top: 2rem;
}

.courses-container {
	display: flex;
	flex-wrap: wrap;
	margin: 2rem 4.5rem;
	justify-content: center; 
}

.course {
	width: calc(33.3333% - 1.3333rem);
	margin-bottom: 2rem;
	background-color: white;
}

.course img {
	width: 100%;
	height: auto;
}

.course:nth-child(3n + 1) {
	margin-right: 2rem;
}

.course:nth-child(3n + 0) {
	margin-left: 2rem;
}

.course h3 {
	margin: 0.5rem 1rem 0.5rem 1rem;
}

.course h4 {
	margin: 0 1rem;
	text-transform: uppercase;
}

.course p {
	margin:0.5rem 1rem 1.5rem 1rem;
}

/*thesis exhibit */

#thesis {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#thesis h2 {
	margin-top: 2rem;
}

.thesis-container {
	display: flex;
}

#thesis video {
    width: 100%; 
    height: auto;
    background-size: cover;
    overflow: hidden;
}

#thesis .left-container h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

#thesis .left-container p {
	margin-bottom: 2rem;
}


/* footer */

footer {
	display: flex;
	justify-content: space-between;
	padding:1rem 1.5rem;
}

